<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contour Detection</title>
    <link rel="stylesheet" href="./index.css">
    <script src="https://docs.opencv.org/3.4.0/opencv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</head>
<body>

    <div class="modal" id="getImageModal">
            <div class="modal__container">
                <div class="folders">
                    
                </div>
                <div class="action-btns">
                    <button class="cancel-btn" data-cancel-btn>Cancel</button>
                    <button class="select-btn" data-confirm-selection-btn>Select</button>
                </div>
            </div>
    </div>
    <div id="left-frame">
        <button class="get-image-btn" id="selectImageBtn">select image</button>

        <div class="slider-container">
            <label for="threshold-slider">Threshold:</label>
            <input type="range" id="threshold-slider" min="0" max="255" value="255">
            <span id="threshold-value">255</span>
        </div>
        <button id="show-contours-button">Show Contours</button>
        <button id="select-contour-button">Select Contour</button>
        <button id="draw-contour-button">Draw Contour</button>
        <button id="end-draw-button">End Draw</button>
        <button id="calculate-distance-button">Calculate Distance</button>
        <button id="clear-draw-button">Clear Draw</button>
        <input type="text" id="title-input" placeholder="Enter Title">
        <textarea id="paragraph-input" rows="4" placeholder="Enter Paragraph"></textarea>
        <button id="save-button">Save Image and Text</button>
        <p id="status-label"></p>
    </div>
    <div id="right-frame">
        <canvas id="canvas"></canvas>
        <div id="message-container"></div>
    </div>

    <script src="./index.js"></script>
</body>
</html>
